<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Patient
        </title>
    </head>
    

    <body>
        <style> 
            .header {
                color:green;
                font-style: italic;
                /*text-align: center;*/
            }

            body {
                background-image: url("123123.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            div{
                width: 970px; 
                /*border: 1px solid #ccc; /*Это надо удалить в самом конце*/
                /*text-align: center;*/
                /*display: flex;
                justify-content: center;*/
            }
        </style>

        <div style="text-align:center">
            <h2 class="header"> Hello! </h2>
            <h2 class="header"> Please login to continue. </h2>
        </div>
    </body>
</html>



